  .header {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
  }

  .header h1 {
    margin-right: 10px; /* Add some spacing between the heading and button */
  }
    
  .button {
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #9D2235;
  }
  
  .button1:hover {
    background-color: #9D2235;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #54B948;
  }
  
  .button2:hover {
    background-color: #54B948;
    color: white;
  }

  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button3:hover {
    background-color: #008CBA;
    color: white;
  }

  .button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #FFD966;
  }
  
  .button4:hover {
    background-color: #FFD966;
    color: white;
  }

  .button5 {
    background-color: white; 
    color: black; 
    border: 2px solid #E62310;
  }
  
  .button5:hover {
    background-color: #E62310;
    color: white;
  }

  .button6 {
    background-color: white; 
    color: black; 
    border: 2px solid #43B047;
  }
  
  .button6:hover {
    background-color: #43B047;
    color: white;
  }

  body.index{
    background-image: url("../img/background.png");
    background-size: cover;
  }

  body.certificates{
    background-color: white;
  }

  body.arkansas{
    background-color: white;
  }

  .certificates img{
    width: 550px;
    height: 450x;
    margin-top: 20px;
  }

  /* Additional styles for instruction text */
  #instructionText {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 28%;
    padding: 20px;
    background-color: rgb(0,0,0);
    font-size: 20pt;
    color: rgb(255,255,255);
    height: 467px;
  }

  /* custom font */
  @font-face {
    font-family: 'SuperMario256';
    src: url('../fonts/SuperMario256.ttf') format('truetype');
  }

  .blue-text {
    color: rgb(4, 156, 216);
  }
  
  .yellow-text {
    color: rgb(251, 208, 0);
  }

  .red-text {
    color: rgb(229, 37, 33);
  }

  .green-text {
    color: rgb(67, 176, 71);
  }
  
  .text-container {
    font-family: 'SuperMario256', sans-serif;
    background-color: black;
    padding: 10px; /* Add some padding around the text for better spacing */
    display: inline-block;
    color: white;
  }